@import "tailwindcss";

*{
    box-sizing: border-box;
}

body{
    background-color: oklch(0.13 0.04 265.14);
    color: white;
}

/* Hide scrollbar but keep scrolling */
.hide-scrollbar {
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE & Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;              /* Chrome, Safari */
}